.cdle_container {
    width: 100%;    
    min-height: 70px;
    border-bottom: .5px solid;
   
    flex-grow: 1;
    height: fit-content !important;

  
}
.cdle_innerlink_container {
    padding: 0 !important;
    margin: 0;
    width: 100% !important;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 0px !important;


}

.cdle_left_container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: 20px;
    
}

.cdle_left_container > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.cdle_left_container > div:first-child > p {
    margin: 0;
    padding: 0;
}
.cdle_left_container > div:first-child > a {
    margin: 0;
    padding: 0;
    font-size: 13px;
    
}

.cdle_left_container > div:last-child {
    margin-left: 10px;
}

.cdle_left_container > div:last-child > p {
    margin-left: 5px;
    padding: 0;
}



.cdle_right_container {
    justify-self: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.cdle_right_container > div {
    height: 30px;
}

.cdle_right_container > div > p {

    margin-left: 10px;

    
}