.create{
    font-size: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 200;

}
.editcontainer{
    display: flex;
    min-height: calc(100vh - 90px);
}

.title{
    font-size: 30px;
    text-align: center;

}

.movetext{
    margin-left: 10%;
    align-items: center;
}

.public{
    margin-left: 50px;
    align-items: center;
}

.button{
    margin-left: 64%;
    align-items: center;
}

.textboxes{
    align-items: center;
    margin-left: 20%;
    background-color: #bee3db;
}

.inputStyle {

}


