.editcontainer{
    display: flex;
    min-height: calc(100vh - 90px);
}

.addCard{
    position: relative;
    background-color: #BEE3DB;

    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}

.box {
    margin-top: 10px;
    background-color: #BEE3DB;
    position: relative;


    height: 270px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.box > .question, .box > .answer {
    width: 49%;
}

.box::after {
    content: "";
    position: absolute;
    width: 2px;

    background-color: #89B0AE;
    left: 50%;
    top: 10%;
}

.question, .answer, .h1Q, .h1A {
    position: relative;
    height: 80%;
    padding: 20px;
  
    

}

.editHeader{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.h1Q, .h1A {
    text-align: center;
    color: #555B6E;
}

textarea {
    border: none;
    outline: none;
    resize: none;
    background-color: #BEE3DB;
}

.editdeletecardbtn{
    z-index: 100;
    position: absolute;
    right: 15px;
    bottom: -10px;

    --border: 4px;
    --slant: 0.5em;
    --color: #555B6E;

    font-size: 12px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, var(--color)  50%,#0000 50.1%) top right, linear-gradient(to top  right, var(--color)  50%,#0000 50.1%)bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );
    transition: color var(--t,0.3s), background-size 0.3s;
}

button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
}
button:hover,
button:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
}
button:active {
    --s: #0005;
    transition: none;
}

.doneButton{
    z-index: 100;
    position: absolute;
    top: 15px;
    right: 10px;

    --border: 4px;
    --slant: 0.5em;
    --color: #555B6E;

    font-size: 12px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, var(--color)  50%,#0000 50.1%) top right, linear-gradient(to top  right, var(--color)  50%,#0000 50.1%)bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );
    transition: color var(--t,0.3s), background-size 0.3s;
}
.editmaincontainer {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;

}

.editmaincontainer>h1{
    text-align: center;
    font-size: 30px;

}
.editmaincontainer>span {
    text-align: center;
    color: white;
    font-size: 20px;
}

.editheadercontainer {
    background-color: #BEE3DB;
    border: .5px solid;
    flex-direction: row;
}

.editheadercontainer>div{
    display: flex;
    justify-content: space-evenly;


    background-color: #BEE3DB;
    width: 90%;
    margin-left: 5%;
}
.editheadercontainer>div div {


    display: flex;
    font-size: large;
    padding-bottom: 20px;

    justify-content: space-evenly;
    text-align: center;

}
.editheadercontainer div p {
    justify-self: left;
    text-align: left;
}
.editheadercontainer input {
    padding: 5px;
    border-radius: 5px;
    border: .5px solid;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.editsectioncontainer {
    margin-bottom: 20px;

}

.editsectioncontainer > p {
    margin-left: 20px;
    font-size: 18px;
    color: white;

}

.editsectioncontainer > div {
    border-radius: 10px;

}

.editboxescontainer >div {
background-color: #BEE3DB;
border-radius: 10px;
border: .5px solid;
}
.editboxescontainer div textarea {
    width: calc(100% - 20px);
    height: 180px;
    border: none;
    outline: none;
    resize: none;
    background-color: #BEE3DB;
}

.editboxescontainer div {
    margin-bottom: 20px;
}

.editaddCard {
    text-align: center;
}
.editverticalline {
    height: 80%;
    border-left: .5px solid #555B6E;
    align-self: center;
    padding: 0;
    margin: 0 !important;

}

.editaddcardbtn:hover {
    cursor: pointer;
}

.editaddcardbtn {
    font-size: 25px;

    margin: 0 auto;
}

.confirmeditcontainer {
    width: 100%;
    display: flex;


    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.confirmeditcontainer button {
    --border: 4px;
    --slant: 0.5em;
    --color: #BEE3DB;
    font-size: 16px;
    padding: 0.6em 1.5em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, var(--color)  50%, #0000 50.1%) top right,
                linear-gradient(to top right, var(--color)  50%, #0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3 * var(--border)) calc(var(--slant) + 1.3 * var(--border));
    background-repeat: no-repeat;
    box-shadow:
        0 0 0 200px inset var(--s, #0000),
        0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%, 0 calc(100% - var(--slant))
        );
    transition: color var(--t, 0.3s), background-size 0.3s;

    margin-bottom: 100px;
}

.confirmeditcontainer button:focus-visible {
    outline-offset: calc(-1 * var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
}

.confirmeditcontainer button:hover,
.confirmeditcontainer button:active{
    background-size: 100% 100%;
    color: black;
    --t: 0.2s 0.1s;
}

.confirmeditcontainer button:active {
    --s: #0005;
    transition: none;
}

.switch {
    margin: auto;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    outline: none;
}
.switch input {
    position: relative;
    top: -99999px;
    left: -99999px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #555B6E;
}
input:focus + .slider {
    box-shadow: 0 0 1px #555B6E;
}
input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.editheadercontainer {
    text-align: center;


}


.edit_tagheader {
    font-size: 20px;
}

.edit_currenttags_container {
    display: flex;
}

.edit_chosentag {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #BEE3DB;
}

.edit_chosentag {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;

    background-color: turquoise ;
    width: fit-content;
    padding: 4px !important;
}

.edit_chosentag > .edit_removetagicon:hover {
    cursor: pointer;

}


.edit_chosentag > span {
    margin: 5px;
    padding: 0;

}

.edit_currenttags_container > div {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}


.edit_searchtag_container > div {
    width: 80%;

}


.edit_boximagecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.edit_boximagecontainer > .edit_boximageicon {
    margin-right: 10px;
    height: fit-content;
    width: fit-content;
    align-self: center;
    position: relative;
    
}



.edit_boximageicon:hover {
    cursor: pointer;
  
}

.edit_boximagepopup {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: -50px;
    width: 200px;
    height: 200px;

}

.edit_boximagepopup > img {
    width: 100%;
    height: 100%;
}

.edit_removefilebtn {
    min-width: 100px;

}

.editSwitchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

input[type="file"] + label {
    display: none;
}