.create{
    background-color: #FFD6BA;
    font-size: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 200;
}

.movetext{
    margin-left: 50px;
    align-items: center;
}

.public{
    margin-left: 50px;
    align-items: center;
}

.button{
    margin-left: 50px;
    align-items: center;
}

.button2{
    margin-left: 50px;
    align-items: center;
}
