.body{
    background-color: #555B6E;
    width: 100%;
    height: 100vh;
    display: flex;
}

.container{
    width: 90%;
    height: 100%;
    right: 0;
    display: flex;
}

.overview{
    flex: 1;
    margin: 20px;
    border-radius: 20px;
    height: 60%;
}

.overview h1{
    text-align: center;
    margin-top: 20px;
    color: #FAF9F9;
}

.myFlashy, .favFlashy{
    flex: 1;
    background-color: #BEE3DB;
    margin: 20px;
    border-radius: 20px;
    height: 60%;
}