.login {
    background-color: #89B0AE;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #333;
    border-bottom: 1px solid #BEE3DB;
    margin-top: 200px;
    margin-left: 650px;
    margin-right: 650px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}