.body{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
}

.containerHome{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.containerHome >div{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.overview{
    flex: 1;
    margin: 20px;
    border-radius: 20px;
    height: 400px;
}

.overview h1{
    text-align: center;
    margin-top: 20px;
}

.myFlashy, .favFlashy{
    flex: 1;
    background-color: #BEE3DB;
    margin: 20px;
    border-radius: 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    min-height: 300px;

    overflow-y: auto;
}

.myFlashy a, .favFlashy a{
    text-decoration: none;
    color: #555B6E;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 2%;
}

.myFlashy {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.myFlashy a div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.myFlashy > p {
    text-align: center;
}

.myDeckDiv{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #FAF9F9;
}

.editProfileBtn {
    justify-self: start;
   
    --border: 4px;
    --slant: 0.5em;
    --color: #BEE3DB;
    
    font-size: 12px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, var(--color)  50%,#0000 50.1%) top right, linear-gradient(to top  right, var(--color)  50%,#0000 50.1%)bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );
    transition: color var(--t,0.3s), background-size 0.3s;
    }

    button:focus-visible {
        outline-offset: calc(-1*var(--border));
        outline: var(--border) solid #000c;
        clip-path: none;
        background-size: 0 0;
    }
    button:hover,
    button:active{
        background-size: 100% 100%;
        color: #fff;
        --t: 0.2s 0.1s;
    }
    button:active {
        --s: #0005;
        transition: none;
    }
    
    .buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

