.container {
    position: absolute;
}

.quizBox {
    position:relative;
    top: 50px;
    width:700px;
    height:350px;
    border-radius: 20px;
    margin: 0 auto;
    background:#BEE3DB;
    padding:10px;
    cursor: pointer;
}

.infoBox {
    position:absolute;
    top:190px;
    left: 120px;
    width:180px;
    height:350px;
    border-radius: 20px;
    background:#BEE3DB;
    padding:10px;
    text-align: center;
 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    justify-content: start;
}

.deleteeditcontainer {
    position: relative;
    display: flex;
    justify-content: space-evenly;

}

.deleteeditcontainer button {
    padding: 5px;

}


.cardText{
   text-align: center;
}

.buttonNext {
    position: absolute;
    bottom: 8%;
    right: 30%;
}

.buttonBack {
    position: absolute;
    bottom: 8%;
    left: 30%;
}

.buttonLike {
    position: absolute;
    bottom: 8%;
    right: 40%;
}

.buttonFavourite {
    position: absolute;
    bottom: 8%;
    left: 40%;
}

.buttonFlag {
    position: absolute;
    bottom: 8%;
    right: 46%;
}

.buttonShuffle {
    position: absolute;
    bottom: 8%;
    left: 46%;
}
