.quizBody{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 90px);
}

.containerQuiz {
    width: 90%;
}

.gamecontainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.divBtn{
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.quizBox {
    position:relative;
    width: 400px;

    height: 100%;
    border-radius: 20px;

    background:#BEE3DB;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    font-size: large;

}

.infoBox {

    position:relative;
    min-width:180px;
    max-width: 220px;
    height: calc(100% - 40px);
    margin-right: 10px;
    border-radius: 20px;
    background:#BEE3DB;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
   
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);


}

.infoBox p {
    margin: 8px;


}




.deleteeditcontainer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;

}

.deleteeditcontainer button {
    padding: 5px;

}


.cardText{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin:0 !important;
    padding: 20px;
}

.cardText span {
    font-weight: bold;
    position: absolute;


    justify-content: center;
    height: 100%;

    top: 30px;
    right: 30px;

}

.button{
    --border: 4px;
    --slant: 0.5em;
    --color: #555B6E;

    font-size: 12px;


    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, var(--color)  50%,#0000 50.1%) top right, linear-gradient(to top  right, var(--color)  50%,#0000 50.1%)bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );

    transition: color var(--t,0.3s), background-size 0.3s;
    margin: 0;
    width: 60px;

}
.button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
}
.button:hover,
.button:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
}
.button:active {
    --s: #0005;
    transition: none;
}


.commentButton {
    position: relative;

    bottom: 0;

    --border: 4px;
    --slant: 0.5em;
    --color: #555B6E;

    font-size: 12px;


    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: linear-gradient(to bottom left, var(--color)  50%,#0000 50.1%) top right, linear-gradient(to top  right, var(--color)  50%,#0000 50.1%)bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
    0 0 0 200px inset var(--s,#0000),
    0 0 0 var(--border) inset var(--color);
    clip-path:
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
            100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
            );

    transition: color var(--t,0.3s), background-size 0.3s;
    margin: 0;
    width: 60px;

    position: absolute;
    right: 23px;
    bottom: 23px;
    z-index: 5;
}

.commentsContainer {
    background-color: #BEE3DB;
    padding: 20px;
    width: 300px;
    margin-right: 30px;
    margin-top: 120px;
    border-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.commentsTextarea {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    color: #89B0AE;
}

.commentsHeader {
    color: #89B0AE;
    position: relative;
    top: 0;
    left: 0;
}

.comments {

    overflow: auto;
    overflow-y: auto;
    height: 250px;
}

.emojiButton{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.outline-iconheart svg path {
  fill: none !important; 
  stroke: black; 
  stroke-width: 2px; 

}
.outline-iconstar svg path {
    fill: none; 
    stroke: black; 
    stroke-width: 30px; 
  }

.quiz_tagscontainer {
    justify-content: center;
    max-width: 220px;

    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    

}

.quiz_tags {
    border-radius: 10px;
    margin: 3px;
    border: .5px solid black;
    padding: 4px;
    text-align: center;
}

.quiz_flashcardimage{
    max-height: 150px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;

}