body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-theme="dark"]{
  --body_background: #555b6e;
  --body_color: #faf9f9;
}

[data-theme="light"]{
  --body_background: #faf9f9;
  --body_color: #555b6e;
}

.dark-mode * {
  transition: all 0.3s ease-in-out;
}